FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_SPREADSHEET_TOKEN=VSFrsnjtyhMJq0tYsW9c5tVPnMg
FEISHU_SKIN_SHEET_ID=0LLtTx
FEISHU_HERO_SHEET_ID=1FVXHq
FEISHU_HERO_DETAIL_SHEET_ID=2OUOPQ
FEISHU_ROLE_TRANSLATION_SHEET_ID=3nioka
FEISHU_QUALITY_SHEET_ID=XIg8ge
FEISHU_OBTAIN_SHEET_ID=ZBF8aL
